/* Reset minimaliste */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-red: #bc002d;
  --color-deepred: #bc002d;

  --color-main: #1d1d1d;

  --color-dark: #04040d;

  --color-font: #e6e6e6;
  --color-grey1: #141112;
  --color-grey2: #141112;
  --color-grey3: #141112;
  --color-grey4: #141112;
  --color-grey5: #141112;
  --color-grey6: #141112;
  --color-grey7: #141112;
}

@font-face {
  font-family: "Montserrat";
  src: url(./ressources/font/montserrat-300.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(./ressources/font/montserrat-600.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(./ressources/font/montserrat-400-italic.woff2) format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(./ressources/font/montserrat-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Novasquare";
  src: url(./ressources/font/nova-square-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

h1,
h2,
h3,
h4,
ul,
li,
ol,
p,
article,
span {
  margin-top: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-left: 0;
  margin-right: 0;
  font-family: "Montserrat","Arial";
  color: var(--color-font);
  line-height: 1.6;
  margin: 0;
  background: var(--color-main);
}

body.CursorDisable,
body.CursorDisable * {
  cursor: none !important;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: var(--color-font);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

#custom-cursor.hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;       
  height: 12px;
  border: 2px solid var(--color-font);  
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none; /* important si tu veux que le canvas ne bloque pas les clics */
}

/* Header */
h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

.site-header {
  position:sticky;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 2rem 30px 2rem 30px;
  background: var(--color-main);
  border-bottom: 2px solid var(--color-font);
  z-index: 10;
}

.site-header-menu {
  position:sticky;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 2rem 30px 2rem 30px;
  background: var(--color-main);
  border-bottom: 2px solid var(--color-font);
  z-index: 10;
}

@media all and (min-width: 750px) {
    .site-header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem 2rem 5rem;
  background: var(--color-main);
  border-bottom: 2px solid var(--color-font);
}
}


.TechnicalArtist {
  justify-self: left;
  font-weight: 400;
}

.TechnicalArtist-menu {
  justify-self: center;
  font-weight: 400;
}

h2, 
h3 {
  font-family: "Montserrat";
  font-weight: 600;
}

@media all and (min-width: 750px) {
  .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem 2rem 5rem;
  background: var(--color-main);
  border-bottom: 2px solid var(--color-font);
}
.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0px 10px 0;
}

}

@media all and (min-width: 1400px) {


.Container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 0px 20px 0;
}

}

@media all and (min-width: 1024px) {
    .profilePicture {
    width: 800px;
}

.Container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 50px 10px 50px;
}
}

.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding:  10px 30px 10px 30px;
}

.site-header h1 {
  font-size: 1.5rem;
}

.highlight {
  color: var(--color-deepred);
}

.HeadLinks {
  display: flex;
  justify-content: right;
  list-style: none;
  text-decoration: none;
}

.Nav-icons {
  max-width: 30px;
  height: 30px;
  transition: transform 0.2s;
  vertical-align: middle;
}

.Nav-icons:hover {
  transform: translateY(-5px);
}

@media all and (min-width: 1024px) {
  .Nav-icons {
  max-width: 40px;
  height: 40px;
}
}

nav ul {
  list-style: none;
}

@media all and (min-width: 750px) {
    nav ul {
  display: flex;
  list-style: none;
}
}

.VerticalAlign {
  vertical-align: middle;
}

.flex {
  display: flex;
  align-items: center;
}

nav li + li {
  margin-left: 1.5rem;
}

nav a {
  text-decoration: none;
  color: var(--color-font);
  transition: color .2s;
  align-self: start;
}

nav a:hover {
  color: var(--color-deepred);
}

/*///////////////////////////////////////////////*/

/* images */

.fluidImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-container {
  max-width: 100%;
    height: auto;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture {
    max-width: 100%;
    height: auto;
    width: 350px;
    background: var(--color-grey);
  padding: 1rem;
  border-radius: 20px;
  transition: transform .2s;
}





/*   TEXT   */

.bioPost {
  font-weight: 600;
  color: var(--color-deepred);
}

.bioText {
  font-family: "Montserrat";
  padding: 5px 1rem 5px 0;
  column-width: 60ch;
}

.Text {
  font-family: "Montserrat";
  padding-top: 5px;
  column-width: 60ch;
}

.PaddingBottom {
  padding-bottom: 20px;
}

/*    Grids     */

.gridBio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  padding: 2rem 0 2rem 0;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.blurredFrame{
  gap: 1rem;
  justify-items: center;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.intro {
  padding-left: 2rem;
}

.AboutMe {
  padding-top: 2rem;
}

@media all and (min-width: 750px) {
  .AboutMe {
    padding-top: 4rem;
  }
}

@media  all and (min-width: 1024px) {
  .gridBio {
    grid-template-columns: 260px 1fr;
    align-items: center;
    justify-items: center;
  }
}

.grid2Col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  max-width: 1900px;
  margin: auto;
  padding: 1rem;
}

@media all and (min-width: 1024px) {
  
.grid2Col {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1400px;
  padding: 2rem;
}
}

.grid1Col {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  gap: 2rem;
  max-width: 1400px;
  padding: 2rem;
}

/*///////////////////////////////////////////////*/


.center {
  align-items: center;
  display: flex ;
  justify-content: center;
  padding: 5rem;
}







/* Sections */

section {
  margin-bottom: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

@media all and (min-width: 1024px) {
  .cards {
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  gap: 1.5rem;
}
}

a {
    color: inherit;
  text-decoration: none;
}

.links {
  margin: 2rem;
}

.links:hover {
    color: var(--color-deepred);
}

.card {
  height: 100%;
  padding: 1rem;
  border-radius: 8px;
  transition: transform .2s;
  text-decoration: none;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(255,255,255,0.05);
}

.glass {
  height: auto;
  padding: 1rem;
  border-radius: 8px;
  text-decoration: none;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(255,255,255,0.05);
  align-content: center;
}

.card:hover {
  transform: translateY(-5px);
  border: 2px solid var(--color-deepred)
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card h3 {
  margin: .5rem 0;
  font-size: 1.2rem;
}

/*///////////////////////////////////////////////*/











/* CARD INDEX */
.banner09 {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/GriblingDay/chess.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}

.banner08 {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/StreetMurder/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}

.banner07 {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/TwistedWishes/VVqlJx.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}

.banner05 {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/Magnigolf/image_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}

.banner04 {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/VATs/VAT_Benchmark40x40.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}


.banner01 {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/GameOver/Capture\ d\'écran\ 2025-06-20\ 154416.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}

.banner {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/NeedleEye/banniere.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}

.bannerXR {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/XR/Capture\ d’écran\ 2026-08-28\ 204324.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}

.bannerEternal {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/EternalAscent/1719351078185.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}

.bannerTouchDesigner {
  width: 100vw;
  height: 400px;
  background-image: url("./ressources/TouchDesigner/AudioReactive_02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  -webkit-mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, var(--color-main) 70%, transparent 100%);
}

.LinkList {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 20px;
}

@media all and (min-width: 750px) {
  .LinkList {
  gap: 10rem;
  padding-top: 50px;
}
}

.icons {
  max-width: 50px;
  height: 50px;
  transition: transform 0.2s;
  vertical-align: middle;
}

.link-hover:hover .icons {
  transform: translateY(-5px);
}

.text-wrapper {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 60px; 
  height: 50px;
  margin-left: 8px; /* espace entre l'icône et le texte */
}

/* Texte initialement masqué par le clip-path */
.text-slide {
  display: inline-block;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  clip-path: inset(0 0 0 100%);
}

/* Quand on hover sur le lien : le texte glisse et se dévoile */
.link-hover:hover .text-slide {
  transform: translateX(0);
  clip-path: inset(0 0 0 0);
}

.stroke {
  transition: transform .2s;
}

.stroke:hover{
  transform: translateY(-5px);
}

svg path {
  fill: var(--color-font);
}

svg circle {
  fill: var(--color-font);
}

svg:hover path {
  fill: var(--color-deepred);
}

svg:hover circle {
  fill: var(--color-deepred);
}




@media all and (min-width: 1024px) {
  .icons {
    width: 80px;
    height: 80px;
  }
  .stroke{
    height: 80px;
  }
}






/*///////////////////////////////////////////////*/


/* Footer */
footer {
  position: sticky;
  text-align: center;
  padding: 1rem;
  background: var(--color-main);
  border-top: 2px solid var(--color-font);
  font-size: .9rem;
  z-index: 10;
}